@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
} 